<?xml version="1.0" encoding="UTF-8"?>
<configuration packagingData="true">
    <property name="logRoot" value="logs" />
      
    <property name="logpatternheader" value="TIMESTAMP               | SOURCE:LINE                          | LEVEL | MESSAGE"/>
    <property name="logpattern" value="%date{yyyy-MM-dd HH:mm:ss.SSS} | %-30.30logger{30} | %-5level | %msg%n"/>
    
    <!-- keep 30 days' worth of history -->
    <property name="maxHistory" value="30"></property>
    <property name="maxFileSize" value="50MB"></property>
        
    <!-- file -->
    <appender name="fileecho" class="ch.qos.logback.core.rolling.RollingFileAppender">        
        <file>${logRoot}/xmlrenderer.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logRoot}/xmlrenderer.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <!-- keep n days' worth of history -->
            <maxHistory>${maxHistory}</maxHistory>
            <maxFileSize>${maxFileSize}</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <fileHeader>${logpatternheader}</fileHeader>
                <pattern>${logpattern}</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>10000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
        <appender-ref ref="fileecho" />
    </appender>

    <!-- console -->
    <appender name="consoleecho" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} | %-5level | %-30.30logger{30} | %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>10000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
        <appender-ref ref="consoleecho" />
    </appender>


    <logger name="eu.rdigitale.supernova" level="debug" />
    
    <logger name="msg" level="info" additivity="false">
        <appender-ref ref="msg" />
    </logger>

    <logger name="heartbeat" level="info" additivity="false">
        <appender-ref ref="heartbeat" />
    </logger>

    <root level="INFO">
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </root>

</configuration>